*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

button {
  display: block;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-bar {
  border: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

header {
  color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 700;
  display: block;
  margin-right: 76px;
}
span {
  color: #2e2f42;
}

.contacts-info {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item {
  color: #434455;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

/* Section 1 content goes here */
.section-first {
  background-color: #2e2f42;
  padding: 188px 0px;
  text-align: center;
  display: flex;
  flex-shrink: 0;
}

.section-one {
  display: flex;
  flex-direction: column;
}
.section-first-head {
  max-width: 496px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  display: block;
  border: none;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-second {
  padding: 120px 0;
}
.section-second-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-second-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-second-item-head {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.section-thirth {
  background-color: #f4f4fd;
}

.section-thirth-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-thirth-item {
  background-color: #ffffff;
}

.section-thirth-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-thirth-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-fourth-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-fourth-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-fourth-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-head {
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
