body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-nav {
  color: black;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 700;
  text-align: center;
}
span {
  color: #2e2f42;
}

.contacts-info {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item {
  color: #434455;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.section-first {
  background-color: #2e2f42;
}

.section-first-head {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-second-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-second-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-second-item-head {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.section-thirth {
  background-color: #f4f4fd;
}

.section-thirth-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-thirth-item {
  background-color: #ffffff;
}

.section-thirth-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-thirth-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-fourth-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-fourth-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-fourth-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-head {
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
